@using System.Runtime.Versioning
@model MailClient.Models.ViewModels.SendMailViewModel

<h1>@ViewBag.Title</h1>

@Html.Raw(TempData["message"])

<p class="alert alert-info mt-4 mb-5">
    W polu <strong>Nadawca</strong> wpisz nazwę która się ma wyświetlić jako nadawca wiadomości.<br />
    W polu <strong>Odbiorca / Odbiorcy</strong> możesz wpisać wiele adresów email oddzielając je przecinkiem.
</p>

<div class="row">

    <div class="col-12">

        @using (Html.BeginForm("SendMail", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(x => x.SenderName)
                @Html.TextBoxFor(x => x.SenderName,
                    new { @class = "form-control", autofocus = "autofocus" })
                @Html.ValidationMessageFor(x => x.SenderName)
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.To)
                @Html.TextBoxFor(x => x.To,
                    new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.To)
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Title)
                @Html.TextBoxFor(x => x.Title,
                    new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Title)
            </div>

            <div class="form-group mb-4">
                @Html.LabelFor(x => x.Content)
                @Html.TextAreaFor(x => x.Content,
                    new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Content)
            </div>

            <div class="form-group mb-4">
                @Html.Label("AddAtachment", "Dodaj załącznik") <br />
                @Html.TextBox("attachment", "", new { type = "file" })
            </div>

            <button class="btn btn-primary btn-lg mb-5" type="submit">
                <i class="fas fa-paper-plane"></i> Wyślij
            </button>
        }

    </div>

</div>
